body {
    font-family: "Lato", sans-serif;
    color: #3A473A;
    font-weight: 300;
}
.title-logo {
    margin-top: 20px;
}
@media screen and (min-width: 599px) {
    #MyName,
    #MyTitle {
        text-align: left;
    }
}
@media screen and (min-width: 600px) {
    #MyName,
    #MyTitle {
        text-align: right;
        display: block;
    }
}
.text-muted {
    color: #BCBBBB;
}
.text-primary {
    color: #3A473A;
}
h4 {
    margin-top: 3px;
}
.dark {
    color: #252825;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #aaa;
}
[class*="zocial-"]:before {
    color: black;
    display: inline;
    font-family: "zocial", sans-serif;
    text-shadow: 3px 3px 5px #aaa;
}
footer {
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
}
.social a {
    margin: 0 1em 0 0;
}
.social a:last-of-type {
    margin: 0;
}
.social {
    line-height: 2em;
}